In [253]:
# Import libraries
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [254]:
# Read groceries.csv file
df= pd.read_csv("groceries.csv")

In [255]:
# Head of the dataframe
df.head()

,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,4,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [256]:
# List the columns in dataframe
df.columns

Index(['Item(s)', 'Item 1', 'Item 2', 'Item 3', 'Item 4', 'Item 5', 'Item 6',
       'Item 7', 'Item 8', 'Item 9', 'Item 10', 'Item 11', 'Item 12',
       'Item 13', 'Item 14', 'Item 15', 'Item 16', 'Item 17', 'Item 18',
       'Item 19', 'Item 20', 'Item 21', 'Item 22', 'Item 23', 'Item 24',
       'Item 25', 'Item 26', 'Item 27', 'Item 28', 'Item 29', 'Item 30',
       'Item 31', 'Item 32'],
      dtype='object')

In [257]:
# Number of rows in dataframe
df.shape[0]

9835

### Data Cleaning
The dataframe contains a lot of NaN values. However its difficult to work with them. 
Hence its important to remove them

In [258]:
df= df.fillna(0)

We are considering only a subset of the entire dataset as in the later stage, the number of two frequent itemset or three frequent dataset will be huge and will take a lot of time to compute the result. 
For demonstration purpose considering say 300 rows

In [259]:
df=df[0:300]

In [260]:
df.head()

,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,4,citrus fruit,semi-finished bread,margarine,ready soups,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,tropical fruit,yogurt,coffee,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,whole milk,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,pip fruit,yogurt,cream cheese,meat spreads,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,other vegetables,whole milk,condensed milk,long life bakery product,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Introduction
Now lets find the co orccurance pattern of the dataframe
We use association rule mining for this. 
Data matrices used for it are Support, Confidence and Lift
1. Support is the frequency of items brought. Support =  freq(A,B)/N
2. Confidence: how often items occur together. Confidence =  freq(A,B)/freq(A)
3. Lift is strength of the rule. Lift= support/(supp(A) * supp(B)
if denominator is more then randomness is more rather than occurance of association

Now, for Apriori algorithm we use the items that are most used to find the association rules. Important thing to note here is that subset of the most used itemset should also be a frequent itemset.

### Single Itemset

In [263]:
# Now lets count the number of unique single itemsets
#Approach: For each item we are creating a dictionary to get their count
Itemset_single= list()
Itemset_single_count={}
i=0
while(i<df.shape[0]):
    j=0
    while(j<df.shape[1]):
        if df.iloc[i][j] != 0 and df.iloc[i][j] not in Itemset_single:
            Itemset_single.append(df.iloc[i][j])
            Itemset_single_count[df.iloc[i][j]]=0
        j = j +1
    i = i + 1

In [262]:
print(len(Itemset_single))
print(Itemset_single_count)

152
{4: 0, 'citrus fruit': 0, 'semi-finished bread': 0, 'margarine': 0, 'ready soups': 0, 3: 0, 'tropical fruit': 0, 'yogurt': 0, 'coffee': 0, 1: 0, 'whole milk': 0, 'pip fruit': 0, 'cream cheese': 0, 'meat spreads': 0, 'other vegetables': 0, 'condensed milk': 0, 'long life bakery product': 0, 5: 0, 'butter': 0, 'rice': 0, 'abrasive cleaner': 0, 'rolls/buns': 0, 'UHT-milk': 0, 'bottled beer': 0, 'liquor (appetizer)': 0, 'potted plants': 0, 2: 0, 'cereals': 0, 'white bread': 0, 'bottled water': 0, 'chocolate': 0, 9: 0, 'curd': 0, 'flour': 0, 'dishes': 0, 'beef': 0, 'frankfurter': 0, 'soda': 0, 'chicken': 0, 'sugar': 0, 'fruit/vegetable juice': 0, 'newspapers': 0, 'packaged fruit/vegetables': 0, 'specialty bar': 0, 'butter milk': 0, 'pastry': 0, 'processed cheese': 0, 'detergent': 0, 11: 0, 'root vegetables': 0, 'frozen dessert': 0, 'sweet spreads': 0, 'salty snack': 0, 'waffles': 0, 'candy': 0, 'bathroom cleaner': 0, 'canned beer': 0, 'sausage': 0, 6: 0, 'brown bread': 0, 'shopping bags': 0, 'beverages': 0, 7: 0, 'hamburger meat': 0, 'spices': 0, 'hygiene articles': 0, 'napkins': 0, 8: 0, 'pork': 0, 'berries': 0, 'whipped/sour cream': 0, 'artif. sweetener': 0, 'grapes': 0, 'dessert': 0, 'zwieback': 0, 13: 0, 'domestic eggs': 0, 'spread cheese': 0, 'misc. beverages': 0, 10: 0, 'hard cheese': 0, 'cat food': 0, 'ham': 0, 'turkey': 0, 'baking powder': 0, 'pickled vegetables': 0, 'oil': 0, 'chewing gum': 0, 'chocolate marshmallow': 0, 'ice cream': 0, 'frozen vegetables': 0, 'canned fish': 0, 'seasonal products': 0, 'curd cheese': 0, 'red/blush wine': 0, 'frozen potato products': 0, 'specialty fat': 0, 'specialty chocolate': 0, 'candles': 0, 'flower (seeds)': 0, 'sparkling wine': 0, 'salt': 0, 'frozen meals': 0, 'canned vegetables': 0, 'onions': 0, 'herbs': 0, 'white wine': 0, 'brandy': 0, 'photo/film': 0, 'sliced cheese': 0, 'pasta': 0, 'softener': 0, 'cling film/bags': 0, 'fish': 0, 'male cosmetics': 0, 15: 0, 'canned fruit': 0, 'Instant food products': 0, 'soft cheese': 0, 'honey': 0, 'dental care': 0, 'popcorn': 0, 'cake bar': 0, 'snack products': 0, 'flower soil/fertilizer': 0, 'specialty cheese': 0, 'finished products': 0, 'cocoa drinks': 0, 'dog food': 0, 'prosecco': 0, 23: 0, 'frozen fish': 0, 'make up remover': 0, 'cleaner': 0, 'female sanitary products': 0, 12: 0, 'dish cleaner': 0, 'cookware': 0, 'meat': 0, 'tea': 0, 'mustard': 0, 'house keeping products': 0, 16: 0, 'skin care': 0, 'potato products': 0, 'liquor': 0, 'pet care': 0, 'soups': 0, 'rum': 0, 'salad dressing': 0, 'sauces': 0, 'vinegar': 0}

In [266]:
# Counting the itemset
i=0
while(i<df.shape[0]):
    j=0
    while(j<df.shape[1]):
        if df.iloc[i][j] != 0 :
            Itemset_single_count[df.iloc[i][j]]=Itemset_single_count[df.iloc[i][j]]+1
        j=j +1
    i = i +1

In [267]:
print(Itemset_single_count)
#After updating the count, we can see that count for each item set

{4: 68, 'citrus fruit': 64, 'semi-finished bread': 12, 'margarine': 36, 'ready soups': 2, 3: 74, 'tropical fruit': 58, 'yogurt': 72, 'coffee': 30, 1: 150, 'whole milk': 166, 'pip fruit': 26, 'cream cheese': 26, 'meat spreads': 6, 'other vegetables': 120, 'condensed milk': 6, 'long life bakery product': 12, 5: 54, 'butter': 28, 'rice': 6, 'abrasive cleaner': 6, 'rolls/buns': 136, 'UHT-milk': 12, 'bottled beer': 32, 'liquor (appetizer)': 10, 'potted plants': 6, 2: 98, 'cereals': 10, 'white bread': 10, 'bottled water': 74, 'chocolate': 22, 9: 18, 'curd': 44, 'flour': 14, 'dishes': 14, 'beef': 30, 'frankfurter': 44, 'soda': 94, 'chicken': 10, 'sugar': 36, 'fruit/vegetable juice': 42, 'newspapers': 44, 'packaged fruit/vegetables': 14, 'specialty bar': 18, 'butter milk': 20, 'pastry': 40, 'processed cheese': 8, 'detergent': 22, 11: 12, 'root vegetables': 62, 'frozen dessert': 6, 'sweet spreads': 2, 'salty snack': 14, 'waffles': 22, 'candy': 12, 'bathroom cleaner': 6, 'canned beer': 48, 'sausage': 64, 6: 38, 'brown bread': 30, 'shopping bags': 42, 'beverages': 26, 7: 32, 'hamburger meat': 20, 'spices': 8, 'hygiene articles': 20, 'napkins': 18, 8: 26, 'pork': 24, 'berries': 30, 'whipped/sour cream': 34, 'artif. sweetener': 2, 'grapes': 12, 'dessert': 28, 'zwieback': 4, 13: 2, 'domestic eggs': 20, 'spread cheese': 6, 'misc. beverages': 16, 10: 16, 'hard cheese': 10, 'cat food': 4, 'ham': 12, 'turkey': 6, 'baking powder': 8, 'pickled vegetables': 12, 'oil': 22, 'chewing gum': 8, 'chocolate marshmallow': 2, 'ice cream': 10, 'frozen vegetables': 24, 'canned fish': 4, 'seasonal products': 2, 'curd cheese': 4, 'red/blush wine': 12, 'frozen potato products': 4, 'specialty fat': 2, 'specialty chocolate': 6, 'candles': 8, 'flower (seeds)': 4, 'sparkling wine': 6, 'salt': 10, 'frozen meals': 6, 'canned vegetables': 4, 'onions': 14, 'herbs': 12, 'white wine': 8, 'brandy': 2, 'photo/film': 6, 'sliced cheese': 14, 'pasta': 8, 'softener': 2, 'cling film/bags': 6, 'fish': 2, 'male cosmetics': 2, 15: 2, 'canned fruit': 2, 'Instant food products': 4, 'soft cheese': 8, 'honey': 2, 'dental care': 2, 'popcorn': 6, 'cake bar': 8, 'snack products': 2, 'flower soil/fertilizer': 2, 'specialty cheese': 4, 'finished products': 4, 'cocoa drinks': 2, 'dog food': 4, 'prosecco': 2, 23: 2, 'frozen fish': 4, 'make up remover': 2, 'cleaner': 2, 'female sanitary products': 2, 12: 6, 'dish cleaner': 2, 'cookware': 2, 'meat': 10, 'tea': 6, 'mustard': 4, 'house keeping products': 2, 16: 2, 'skin care': 2, 'potato products': 2, 'liquor': 2, 'pet care': 2, 'soups': 2, 'rum': 2, 'salad dressing': 2, 'sauces': 2, 'vinegar': 2}

### Frequent Item set
Frequent dataset is the one whose value is greater than a threshold value. 
For our dataset, we are manually setting a threshold, which is 5.

In [268]:
Thresold_value= 5
Itemset_single_count1=Itemset_single_count
print("Before with no thresold:",len(Itemset_single_count1))
for i in Itemset_single_count1.keys():
    if Itemset_single_count1[i]< Thresold_value:
        Itemset_single_count1[i]=-1
Itemset_single_count_updated={}
for i in Itemset_single_count1.keys():
    if Itemset_single_count1[i]!=-1:# Thresold_value:
        Itemset_single_count_updated[i]=Itemset_single_count1[i]
print("After with thresold 5:",len(Itemset_single_count_updated))

Before with no thresold: 152
After with thresold 5: 103

In [269]:
Itemset_single_df= pd.DataFrame()
Itemset_single_df['Itemset']=Itemset_single_count_updated.keys()
Itemset_single_df['Count']=Itemset_single_count_updated.values()

### Final single itemset

In [270]:
Itemset_single_df

                 Itemset  Count
0                      4     68
1           citrus fruit     64
2    semi-finished bread     12
3              margarine     36
4                      3     74
..                   ...    ...
98               popcorn      6
99              cake bar      8
100                   12      6
101                 meat     10
102                  tea      6

[103 rows x 2 columns]

### Generating Two frequent itemset

In [271]:
import itertools
Itemset_double_df=pd.DataFrame(list(itertools.combinations(Itemset_single_df['Itemset'], 2)))

In [272]:
Itemset_double_df=Itemset_double_df.rename(columns={0:'Itemset1',1:'Itemset2'})

In [273]:
Itemset_double_df.shape

(5253, 2)

In [274]:
Itemset_double_df

      Itemset1             Itemset2
0            4         citrus fruit
1            4  semi-finished bread
2            4            margarine
3            4                    3
4            4       tropical fruit
...        ...                  ...
5248  cake bar                 meat
5249  cake bar                  tea
5250        12                 meat
5251        12                  tea
5252      meat                  tea

[5253 rows x 2 columns]

In [275]:
# Now lets count the number of unique two frequent itemsets
#Approach: For each item we are creating a dictionary to get their count
Itemset_double_count={}
i=0
while(i<len(Itemset_double_df)):
    Itemset_double_count[i]=0
    i=i+1

In [276]:
Itemset_double_count

{0: 0,
 1: 0,
 2: 0,
 3: 0,
 4: 0,
 5: 0,
 6: 0,
 7: 0,
 8: 0,
 9: 0,
 10: 0,
 11: 0,
 12: 0,
 13: 0,
 14: 0,
 15: 0,
 16: 0,
 17: 0,
 18: 0,
 19: 0,
 20: 0,
 21: 0,
 22: 0,
 23: 0,
 24: 0,
 25: 0,
 26: 0,
 27: 0,
 28: 0,
 29: 0,
 30: 0,
 31: 0,
 32: 0,
 33: 0,
 34: 0,
 35: 0,
 36: 0,
 37: 0,
 38: 0,
 39: 0,
 40: 0,
 41: 0,
 42: 0,
 43: 0,
 44: 0,
 45: 0,
 46: 0,
 47: 0,
 48: 0,
 49: 0,
 50: 0,
 51: 0,
 52: 0,
 53: 0,
 54: 0,
 55: 0,
 56: 0,
 57: 0,
 58: 0,
 59: 0,
 60: 0,
 61: 0,
 62: 0,
 63: 0,
 64: 0,
 65: 0,
 66: 0,
 67: 0,
 68: 0,
 69: 0,
 70: 0,
 71: 0,
 72: 0,
 73: 0,
 74: 0,
 75: 0,
 76: 0,
 77: 0,
 78: 0,
 79: 0,
 80: 0,
 81: 0,
 82: 0,
 83: 0,
 84: 0,
 85: 0,
 86: 0,
 87: 0,
 88: 0,
 89: 0,
 90: 0,
 91: 0,
 92: 0,
 93: 0,
 94: 0,
 95: 0,
 96: 0,
 97: 0,
 98: 0,
 99: 0,
 100: 0,
 101: 0,
 102: 0,
 103: 0,
 104: 0,
 105: 0,
 106: 0,
 107: 0,
 108: 0,
 109: 0,
 110: 0,
 111: 0,
 112: 0,
 113: 0,
 114: 0,
 115: 0,
 116: 0,
 117: 0,
 118: 0,
 119: 0,
 120: 0,
 121: 0,
 122: 0,
 123: 0,
 124: 0,
 125: 0,
 126: 0,
 127: 0,
 128: 0,
 129: 0,
 130: 0,
 131: 0,
 132: 0,
 133: 0,
 134: 0,
 135: 0,
 136: 0,
 137: 0,
 138: 0,
 139: 0,
 140: 0,
 141: 0,
 142: 0,
 143: 0,
 144: 0,
 145: 0,
 146: 0,
 147: 0,
 148: 0,
 149: 0,
 150: 0,
 151: 0,
 152: 0,
 153: 0,
 154: 0,
 155: 0,
 156: 0,
 157: 0,
 158: 0,
 159: 0,
 160: 0,
 161: 0,
 162: 0,
 163: 0,
 164: 0,
 165: 0,
 166: 0,
 167: 0,
 168: 0,
 169: 0,
 170: 0,
 171: 0,
 172: 0,
 173: 0,
 174: 0,
 175: 0,
 176: 0,
 177: 0,
 178: 0,
 179: 0,
 180: 0,
 181: 0,
 182: 0,
 183: 0,
 184: 0,
 185: 0,
 186: 0,
 187: 0,
 188: 0,
 189: 0,
 190: 0,
 191: 0,
 192: 0,
 193: 0,
 194: 0,
 195: 0,
 196: 0,
 197: 0,
 198: 0,
 199: 0,
 200: 0,
 201: 0,
 202: 0,
 203: 0,
 204: 0,
 205: 0,
 206: 0,
 207: 0,
 208: 0,
 209: 0,
 210: 0,
 211: 0,
 212: 0,
 213: 0,
 214: 0,
 215: 0,
 216: 0,
 217: 0,
 218: 0,
 219: 0,
 220: 0,
 221: 0,
 222: 0,
 223: 0,
 224: 0,
 225: 0,
 226: 0,
 227: 0,
 228: 0,
 229: 0,
 230: 0,
 231: 0,
 232: 0,
 233: 0,
 234: 0,
 235: 0,
 236: 0,
 237: 0,
 238: 0,
 239: 0,
 240: 0,
 241: 0,
 242: 0,
 243: 0,
 244: 0,
 245: 0,
 246: 0,
 247: 0,
 248: 0,
 249: 0,
 250: 0,
 251: 0,
 252: 0,
 253: 0,
 254: 0,
 255: 0,
 256: 0,
 257: 0,
 258: 0,
 259: 0,
 260: 0,
 261: 0,
 262: 0,
 263: 0,
 264: 0,
 265: 0,
 266: 0,
 267: 0,
 268: 0,
 269: 0,
 270: 0,
 271: 0,
 272: 0,
 273: 0,
 274: 0,
 275: 0,
 276: 0,
 277: 0,
 278: 0,
 279: 0,
 280: 0,
 281: 0,
 282: 0,
 283: 0,
 284: 0,
 285: 0,
 286: 0,
 287: 0,
 288: 0,
 289: 0,
 290: 0,
 291: 0,
 292: 0,
 293: 0,
 294: 0,
 295: 0,
 296: 0,
 297: 0,
 298: 0,
 299: 0,
 300: 0,
 301: 0,
 302: 0,
 303: 0,
 304: 0,
 305: 0,
 306: 0,
 307: 0,
 308: 0,
 309: 0,
 310: 0,
 311: 0,
 312: 0,
 313: 0,
 314: 0,
 315: 0,
 316: 0,
 317: 0,
 318: 0,
 319: 0,
 320: 0,
 321: 0,
 322: 0,
 323: 0,
 324: 0,
 325: 0,
 326: 0,
 327: 0,
 328: 0,
 329: 0,
 330: 0,
 331: 0,
 332: 0,
 333: 0,
 334: 0,
 335: 0,
 336: 0,
 337: 0,
 338: 0,
 339: 0,
 340: 0,
 341: 0,
 342: 0,
 343: 0,
 344: 0,
 345: 0,
 346: 0,
 347: 0,
 348: 0,
 349: 0,
 350: 0,
 351: 0,
 352: 0,
 353: 0,
 354: 0,
 355: 0,
 356: 0,
 357: 0,
 358: 0,
 359: 0,
 360: 0,
 361: 0,
 362: 0,
 363: 0,
 364: 0,
 365: 0,
 366: 0,
 367: 0,
 368: 0,
 369: 0,
 370: 0,
 371: 0,
 372: 0,
 373: 0,
 374: 0,
 375: 0,
 376: 0,
 377: 0,
 378: 0,
 379: 0,
 380: 0,
 381: 0,
 382: 0,
 383: 0,
 384: 0,
 385: 0,
 386: 0,
 387: 0,
 388: 0,
 389: 0,
 390: 0,
 391: 0,
 392: 0,
 393: 0,
 394: 0,
 395: 0,
 396: 0,
 397: 0,
 398: 0,
 399: 0,
 400: 0,
 401: 0,
 402: 0,
 403: 0,
 404: 0,
 405: 0,
 406: 0,
 407: 0,
 408: 0,
 409: 0,
 410: 0,
 411: 0,
 412: 0,
 413: 0,
 414: 0,
 415: 0,
 416: 0,
 417: 0,
 418: 0,
 419: 0,
 420: 0,
 421: 0,
 422: 0,
 423: 0,
 424: 0,
 425: 0,
 426: 0,
 427: 0,
 428: 0,
 429: 0,
 430: 0,
 431: 0,
 432: 0,
 433: 0,
 434: 0,
 435: 0,
 436: 0,
 437: 0,
 438: 0,
 439: 0,
 440: 0,
 441: 0,
 442: 0,
 443: 0,
 444: 0,
 445: 0,
 446: 0,
 447: 0,
 448: 0,
 449: 0,
 450: 0,
 451: 0,
 452: 0,
 453: 0,
 454: 0,
 455: 0,
 456: 0,
 457: 0,
 458: 0,
 459: 0,
 460: 0,
 461: 0,
 462: 0,
 463: 0,
 464: 0,
 465: 0,
 466: 0,
 467: 0,
 468: 0,
 469: 0,
 470: 0,
 471: 0,
 472: 0,
 473: 0,
 474: 0,
 475: 0,
 476: 0,
 477: 0,
 478: 0,
 479: 0,
 480: 0,
 481: 0,
 482: 0,
 483: 0,
 484: 0,
 485: 0,
 486: 0,
 487: 0,
 488: 0,
 489: 0,
 490: 0,
 491: 0,
 492: 0,
 493: 0,
 494: 0,
 495: 0,
 496: 0,
 497: 0,
 498: 0,
 499: 0,
 500: 0,
 501: 0,
 502: 0,
 503: 0,
 504: 0,
 505: 0,
 506: 0,
 507: 0,
 508: 0,
 509: 0,
 510: 0,
 511: 0,
 512: 0,
 513: 0,
 514: 0,
 515: 0,
 516: 0,
 517: 0,
 518: 0,
 519: 0,
 520: 0,
 521: 0,
 522: 0,
 523: 0,
 524: 0,
 525: 0,
 526: 0,
 527: 0,
 528: 0,
 529: 0,
 530: 0,
 531: 0,
 532: 0,
 533: 0,
 534: 0,
 535: 0,
 536: 0,
 537: 0,
 538: 0,
 539: 0,
 540: 0,
 541: 0,
 542: 0,
 543: 0,
 544: 0,
 545: 0,
 546: 0,
 547: 0,
 548: 0,
 549: 0,
 550: 0,
 551: 0,
 552: 0,
 553: 0,
 554: 0,
 555: 0,
 556: 0,
 557: 0,
 558: 0,
 559: 0,
 560: 0,
 561: 0,
 562: 0,
 563: 0,
 564: 0,
 565: 0,
 566: 0,
 567: 0,
 568: 0,
 569: 0,
 570: 0,
 571: 0,
 572: 0,
 573: 0,
 574: 0,
 575: 0,
 576: 0,
 577: 0,
 578: 0,
 579: 0,
 580: 0,
 581: 0,
 582: 0,
 583: 0,
 584: 0,
 585: 0,
 586: 0,
 587: 0,
 588: 0,
 589: 0,
 590: 0,
 591: 0,
 592: 0,
 593: 0,
 594: 0,
 595: 0,
 596: 0,
 597: 0,
 598: 0,
 599: 0,
 600: 0,
 601: 0,
 602: 0,
 603: 0,
 604: 0,
 605: 0,
 606: 0,
 607: 0,
 608: 0,
 609: 0,
 610: 0,
 611: 0,
 612: 0,
 613: 0,
 614: 0,
 615: 0,
 616: 0,
 617: 0,
 618: 0,
 619: 0,
 620: 0,
 621: 0,
 622: 0,
 623: 0,
 624: 0,
 625: 0,
 626: 0,
 627: 0,
 628: 0,
 629: 0,
 630: 0,
 631: 0,
 632: 0,
 633: 0,
 634: 0,
 635: 0,
 636: 0,
 637: 0,
 638: 0,
 639: 0,
 640: 0,
 641: 0,
 642: 0,
 643: 0,
 644: 0,
 645: 0,
 646: 0,
 647: 0,
 648: 0,
 649: 0,
 650: 0,
 651: 0,
 652: 0,
 653: 0,
 654: 0,
 655: 0,
 656: 0,
 657: 0,
 658: 0,
 659: 0,
 660: 0,
 661: 0,
 662: 0,
 663: 0,
 664: 0,
 665: 0,
 666: 0,
 667: 0,
 668: 0,
 669: 0,
 670: 0,
 671: 0,
 672: 0,
 673: 0,
 674: 0,
 675: 0,
 676: 0,
 677: 0,
 678: 0,
 679: 0,
 680: 0,
 681: 0,
 682: 0,
 683: 0,
 684: 0,
 685: 0,
 686: 0,
 687: 0,
 688: 0,
 689: 0,
 690: 0,
 691: 0,
 692: 0,
 693: 0,
 694: 0,
 695: 0,
 696: 0,
 697: 0,
 698: 0,
 699: 0,
 700: 0,
 701: 0,
 702: 0,
 703: 0,
 704: 0,
 705: 0,
 706: 0,
 707: 0,
 708: 0,
 709: 0,
 710: 0,
 711: 0,
 712: 0,
 713: 0,
 714: 0,
 715: 0,
 716: 0,
 717: 0,
 718: 0,
 719: 0,
 720: 0,
 721: 0,
 722: 0,
 723: 0,
 724: 0,
 725: 0,
 726: 0,
 727: 0,
 728: 0,
 729: 0,
 730: 0,
 731: 0,
 732: 0,
 733: 0,
 734: 0,
 735: 0,
 736: 0,
 737: 0,
 738: 0,
 739: 0,
 740: 0,
 741: 0,
 742: 0,
 743: 0,
 744: 0,
 745: 0,
 746: 0,
 747: 0,
 748: 0,
 749: 0,
 750: 0,
 751: 0,
 752: 0,
 753: 0,
 754: 0,
 755: 0,
 756: 0,
 757: 0,
 758: 0,
 759: 0,
 760: 0,
 761: 0,
 762: 0,
 763: 0,
 764: 0,
 765: 0,
 766: 0,
 767: 0,
 768: 0,
 769: 0,
 770: 0,
 771: 0,
 772: 0,
 773: 0,
 774: 0,
 775: 0,
 776: 0,
 777: 0,
 778: 0,
 779: 0,
 780: 0,
 781: 0,
 782: 0,
 783: 0,
 784: 0,
 785: 0,
 786: 0,
 787: 0,
 788: 0,
 789: 0,
 790: 0,
 791: 0,
 792: 0,
 793: 0,
 794: 0,
 795: 0,
 796: 0,
 797: 0,
 798: 0,
 799: 0,
 800: 0,
 801: 0,
 802: 0,
 803: 0,
 804: 0,
 805: 0,
 806: 0,
 807: 0,
 808: 0,
 809: 0,
 810: 0,
 811: 0,
 812: 0,
 813: 0,
 814: 0,
 815: 0,
 816: 0,
 817: 0,
 818: 0,
 819: 0,
 820: 0,
 821: 0,
 822: 0,
 823: 0,
 824: 0,
 825: 0,
 826: 0,
 827: 0,
 828: 0,
 829: 0,
 830: 0,
 831: 0,
 832: 0,
 833: 0,
 834: 0,
 835: 0,
 836: 0,
 837: 0,
 838: 0,
 839: 0,
 840: 0,
 841: 0,
 842: 0,
 843: 0,
 844: 0,
 845: 0,
 846: 0,
 847: 0,
 848: 0,
 849: 0,
 850: 0,
 851: 0,
 852: 0,
 853: 0,
 854: 0,
 855: 0,
 856: 0,
 857: 0,
 858: 0,
 859: 0,
 860: 0,
 861: 0,
 862: 0,
 863: 0,
 864: 0,
 865: 0,
 866: 0,
 867: 0,
 868: 0,
 869: 0,
 870: 0,
 871: 0,
 872: 0,
 873: 0,
 874: 0,
 875: 0,
 876: 0,
 877: 0,
 878: 0,
 879: 0,
 880: 0,
 881: 0,
 882: 0,
 883: 0,
 884: 0,
 885: 0,
 886: 0,
 887: 0,
 888: 0,
 889: 0,
 890: 0,
 891: 0,
 892: 0,
 893: 0,
 894: 0,
 895: 0,
 896: 0,
 897: 0,
 898: 0,
 899: 0,
 900: 0,
 901: 0,
 902: 0,
 903: 0,
 904: 0,
 905: 0,
 906: 0,
 907: 0,
 908: 0,
 909: 0,
 910: 0,
 911: 0,
 912: 0,
 913: 0,
 914: 0,
 915: 0,
 916: 0,
 917: 0,
 918: 0,
 919: 0,
 920: 0,
 921: 0,
 922: 0,
 923: 0,
 924: 0,
 925: 0,
 926: 0,
 927: 0,
 928: 0,
 929: 0,
 930: 0,
 931: 0,
 932: 0,
 933: 0,
 934: 0,
 935: 0,
 936: 0,
 937: 0,
 938: 0,
 939: 0,
 940: 0,
 941: 0,
 942: 0,
 943: 0,
 944: 0,
 945: 0,
 946: 0,
 947: 0,
 948: 0,
 949: 0,
 950: 0,
 951: 0,
 952: 0,
 953: 0,
 954: 0,
 955: 0,
 956: 0,
 957: 0,
 958: 0,
 959: 0,
 960: 0,
 961: 0,
 962: 0,
 963: 0,
 964: 0,
 965: 0,
 966: 0,
 967: 0,
 968: 0,
 969: 0,
 970: 0,
 971: 0,
 972: 0,
 973: 0,
 974: 0,
 975: 0,
 976: 0,
 977: 0,
 978: 0,
 979: 0,
 980: 0,
 981: 0,
 982: 0,
 983: 0,
 984: 0,
 985: 0,
 986: 0,
 987: 0,
 988: 0,
 989: 0,
 990: 0,
 991: 0,
 992: 0,
 993: 0,
 994: 0,
 995: 0,
 996: 0,
 997: 0,
 998: 0,
 999: 0,
 ...}

In [277]:
# Counting the itemset
for i in Itemset_double_count.keys():
    j=0
    while(j<len(df)):
            if set(Itemset_double_df.loc[i]).issubset(set(df.loc[j])):
                Itemset_double_count[i]= Itemset_double_count[i]+1
            j=j+1

In [278]:
Itemset_double_count
#After updating the count, we can see the actual count

{0: 5,
 1: 3,
 2: 2,
 3: 0,
 4: 0,
 5: 6,
 6: 1,
 7: 0,
 8: 10,
 9: 2,
 10: 4,
 11: 1,
 12: 7,
 13: 2,
 14: 2,
 15: 0,
 16: 3,
 17: 0,
 18: 0,
 19: 7,
 20: 2,
 21: 4,
 22: 0,
 23: 0,
 24: 0,
 25: 1,
 26: 0,
 27: 4,
 28: 2,
 29: 0,
 30: 2,
 31: 0,
 32: 0,
 33: 1,
 34: 1,
 35: 6,
 36: 0,
 37: 4,
 38: 1,
 39: 4,
 40: 2,
 41: 1,
 42: 1,
 43: 2,
 44: 1,
 45: 1,
 46: 0,
 47: 3,
 48: 0,
 49: 0,
 50: 1,
 51: 0,
 52: 0,
 53: 1,
 54: 5,
 55: 0,
 56: 0,
 57: 2,
 58: 2,
 59: 0,
 60: 0,
 61: 0,
 62: 1,
 63: 1,
 64: 0,
 65: 0,
 66: 1,
 67: 1,
 68: 1,
 69: 3,
 70: 0,
 71: 0,
 72: 0,
 73: 0,
 74: 2,
 75: 1,
 76: 1,
 77: 0,
 78: 0,
 79: 1,
 80: 0,
 81: 0,
 82: 2,
 83: 0,
 84: 0,
 85: 0,
 86: 0,
 87: 0,
 88: 0,
 89: 1,
 90: 0,
 91: 1,
 92: 0,
 93: 0,
 94: 0,
 95: 0,
 96: 0,
 97: 0,
 98: 1,
 99: 0,
 100: 2,
 101: 0,
 102: 1,
 103: 5,
 104: 3,
 105: 7,
 106: 6,
 107: 1,
 108: 0,
 109: 12,
 110: 2,
 111: 5,
 112: 0,
 113: 8,
 114: 0,
 115: 0,
 116: 3,
 117: 3,
 118: 2,
 119: 0,
 120: 9,
 121: 2,
 122: 0,
 123: 0,
 124: 0,
 125: 3,
 126: 1,
 127: 2,
 128: 5,
 129: 2,
 130: 2,
 131: 5,
 132: 1,
 133: 2,
 134: 3,
 135: 4,
 136: 3,
 137: 2,
 138: 6,
 139: 1,
 140: 5,
 141: 1,
 142: 0,
 143: 4,
 144: 3,
 145: 1,
 146: 2,
 147: 2,
 148: 5,
 149: 1,
 150: 1,
 151: 1,
 152: 1,
 153: 0,
 154: 0,
 155: 4,
 156: 3,
 157: 3,
 158: 1,
 159: 2,
 160: 4,
 161: 3,
 162: 0,
 163: 2,
 164: 1,
 165: 2,
 166: 2,
 167: 4,
 168: 3,
 169: 0,
 170: 3,
 171: 3,
 172: 0,
 173: 1,
 174: 1,
 175: 2,
 176: 0,
 177: 0,
 178: 1,
 179: 0,
 180: 3,
 181: 0,
 182: 0,
 183: 0,
 184: 0,
 185: 1,
 186: 1,
 187: 1,
 188: 1,
 189: 0,
 190: 3,
 191: 0,
 192: 0,
 193: 0,
 194: 0,
 195: 1,
 196: 0,
 197: 0,
 198: 0,
 199: 0,
 200: 2,
 201: 2,
 202: 1,
 203: 4,
 204: 0,
 205: 1,
 206: 1,
 207: 0,
 208: 0,
 209: 2,
 210: 0,
 211: 1,
 212: 0,
 213: 2,
 214: 0,
 215: 0,
 216: 0,
 217: 0,
 218: 0,
 219: 0,
 220: 1,
 221: 0,
 222: 0,
 223: 0,
 224: 0,
 225: 0,
 226: 0,
 227: 0,
 228: 1,
 229: 0,
 230: 0,
 231: 3,
 232: 0,
 233: 0,
 234: 0,
 235: 0,
 236: 0,
 237: 0,
 238: 0,
 239: 2,
 240: 0,
 241: 1,
 242: 1,
 243: 0,
 244: 1,
 245: 0,
 246: 0,
 247: 1,
 248: 0,
 249: 0,
 250: 0,
 251: 0,
 252: 0,
 253: 0,
 254: 1,
 255: 0,
 256: 0,
 257: 1,
 258: 1,
 259: 0,
 260: 1,
 261: 1,
 262: 0,
 263: 0,
 264: 0,
 265: 0,
 266: 0,
 267: 0,
 268: 1,
 269: 0,
 270: 1,
 271: 1,
 272: 0,
 273: 0,
 274: 1,
 275: 0,
 276: 0,
 277: 1,
 278: 1,
 279: 0,
 280: 0,
 281: 0,
 282: 0,
 283: 0,
 284: 0,
 285: 0,
 286: 0,
 287: 0,
 288: 0,
 289: 0,
 290: 0,
 291: 0,
 292: 0,
 293: 0,
 294: 0,
 295: 0,
 296: 0,
 297: 0,
 298: 0,
 299: 1,
 300: 0,
 301: 0,
 302: 0,
 303: 1,
 304: 3,
 305: 2,
 306: 1,
 307: 0,
 308: 10,
 309: 1,
 310: 2,
 311: 0,
 312: 5,
 313: 0,
 314: 1,
 315: 2,
 316: 3,
 317: 0,
 318: 0,
 319: 6,
 320: 1,
 321: 0,
 322: 0,
 323: 0,
 324: 0,
 325: 0,
 326: 1,
 327: 2,
 328: 0,
 329: 1,
 330: 3,
 331: 1,
 332: 0,
 333: 1,
 334: 4,
 335: 0,
 336: 0,
 337: 2,
 338: 3,
 339: 3,
 340: 0,
 341: 0,
 342: 0,
 343: 3,
 344: 0,
 345: 0,
 346: 2,
 347: 3,
 348: 0,
 349: 0,
 350: 1,
 351: 1,
 352: 1,
 353: 0,
 354: 3,
 355: 2,
 356: 2,
 357: 2,
 358: 0,
 359: 4,
 360: 2,
 361: 1,
 362: 0,
 363: 0,
 364: 2,
 365: 1,
 366: 0,
 367: 3,
 368: 0,
 369: 1,
 370: 3,
 371: 1,
 372: 0,
 373: 2,
 374: 0,
 375: 0,
 376: 1,
 377: 2,
 378: 0,
 379: 2,
 380: 0,
 381: 0,
 382: 2,
 383: 1,
 384: 1,
 385: 1,
 386: 0,
 387: 0,
 388: 0,
 389: 0,
 390: 0,
 391: 0,
 392: 0,
 393: 0,
 394: 0,
 395: 0,
 396: 0,
 397: 0,
 398: 0,
 399: 0,
 400: 0,
 401: 0,
 402: 5,
 403: 4,
 404: 3,
 405: 0,
 406: 12,
 407: 1,
 408: 1,
 409: 1,
 410: 5,
 411: 0,
 412: 1,
 413: 0,
 414: 0,
 415: 0,
 416: 0,
 417: 9,
 418: 0,
 419: 1,
 420: 2,
 421: 0,
 422: 0,
 423: 0,
 424: 0,
 425: 4,
 426: 0,
 427: 0,
 428: 2,
 429: 1,
 430: 0,
 431: 2,
 432: 3,
 433: 6,
 434: 0,
 435: 2,
 436: 2,
 437: 2,
 438: 1,
 439: 0,
 440: 1,
 441: 4,
 442: 0,
 443: 1,
 444: 0,
 445: 2,
 446: 0,
 447: 1,
 448: 0,
 449: 0,
 450: 0,
 451: 3,
 452: 5,
 453: 0,
 454: 2,
 455: 1,
 456: 0,
 457: 0,
 458: 1,
 459: 0,
 460: 0,
 461: 0,
 462: 0,
 463: 1,
 464: 0,
 465: 1,
 466: 1,
 467: 0,
 468: 0,
 469: 0,
 470: 1,
 471: 0,
 472: 0,
 473: 1,
 474: 0,
 475: 0,
 476: 0,
 477: 0,
 478: 1,
 479: 1,
 480: 0,
 481: 0,
 482: 0,
 483: 1,
 484: 0,
 485: 0,
 486: 0,
 487: 0,
 488: 0,
 489: 1,
 490: 0,
 491: 0,
 492: 0,
 493: 0,
 494: 1,
 495: 0,
 496: 0,
 497: 0,
 498: 0,
 499: 0,
 500: 6,
 501: 3,
 502: 0,
 503: 13,
 504: 5,
 505: 3,
 506: 0,
 507: 11,
 508: 0,
 509: 0,
 510: 4,
 511: 3,
 512: 1,
 513: 0,
 514: 5,
 515: 0,
 516: 2,
 517: 0,
 518: 0,
 519: 4,
 520: 2,
 521: 3,
 522: 5,
 523: 3,
 524: 1,
 525: 3,
 526: 3,
 527: 1,
 528: 0,
 529: 5,
 530: 3,
 531: 3,
 532: 5,
 533: 4,
 534: 2,
 535: 1,
 536: 0,
 537: 1,
 538: 1,
 539: 1,
 540: 2,
 541: 2,
 542: 7,
 543: 1,
 544: 1,
 545: 3,
 546: 2,
 547: 1,
 548: 0,
 549: 2,
 550: 2,
 551: 4,
 552: 2,
 553: 0,
 554: 1,
 555: 1,
 556: 0,
 557: 3,
 558: 1,
 559: 4,
 560: 0,
 561: 2,
 562: 2,
 563: 0,
 564: 0,
 565: 5,
 566: 1,
 567: 1,
 568: 2,
 569: 1,
 570: 2,
 571: 1,
 572: 2,
 573: 1,
 574: 2,
 575: 0,
 576: 0,
 577: 0,
 578: 0,
 579: 0,
 580: 0,
 581: 0,
 582: 0,
 583: 1,
 584: 2,
 585: 1,
 586: 0,
 587: 0,
 588: 1,
 589: 1,
 590: 1,
 591: 1,
 592: 0,
 593: 0,
 594: 1,
 595: 1,
 596: 2,
 597: 3,
 598: 1,
 599: 19,
 600: 4,
 601: 4,
 602: 1,
 603: 11,
 604: 0,
 605: 0,
 606: 5,
 607: 4,
 608: 1,
 609: 1,
 610: 8,
 611: 0,
 612: 3,
 613: 0,
 614: 1,
 615: 2,
 616: 3,
 617: 1,
 618: 9,
 619: 1,
 620: 4,
 621: 8,
 622: 2,
 623: 1,
 624: 1,
 625: 1,
 626: 9,
 627: 1,
 628: 3,
 629: 4,
 630: 2,
 631: 2,
 632: 1,
 633: 3,
 634: 3,
 635: 1,
 636: 2,
 637: 3,
 638: 6,
 639: 1,
 640: 0,
 641: 3,
 642: 1,
 643: 0,
 644: 0,
 645: 7,
 646: 3,
 647: 5,
 648: 3,
 649: 3,
 650: 2,
 651: 2,
 652: 0,
 653: 3,
 654: 3,
 655: 1,
 656: 1,
 657: 2,
 658: 4,
 659: 1,
 660: 4,
 661: 3,
 662: 1,
 663: 1,
 664: 2,
 665: 0,
 666: 1,
 667: 0,
 668: 0,
 669: 2,
 670: 1,
 671: 0,
 672: 0,
 673: 1,
 674: 0,
 675: 0,
 676: 0,
 677: 0,
 678: 1,
 679: 1,
 680: 1,
 681: 0,
 682: 0,
 683: 1,
 684: 2,
 685: 1,
 686: 0,
 687: 2,
 688: 0,
 689: 0,
 690: 0,
 691: 0,
 692: 0,
 693: 1,
 694: 2,
 695: 0,
 696: 0,
 697: 0,
 698: 2,
 699: 1,
 700: 1,
 701: 0,
 702: 0,
 703: 1,
 704: 0,
 705: 0,
 706: 1,
 707: 1,
 708: 0,
 709: 0,
 710: 6,
 711: 1,
 712: 0,
 713: 0,
 714: 1,
 715: 1,
 716: 0,
 717: 0,
 718: 0,
 719: 0,
 720: 0,
 721: 1,
 722: 0,
 723: 2,
 724: 1,
 725: 1,
 726: 0,
 727: 0,
 728: 0,
 729: 2,
 730: 0,
 731: 0,
 732: 0,
 733: 1,
 734: 0,
 735: 0,
 736: 1,
 737: 1,
 738: 0,
 739: 0,
 740: 2,
 741: 0,
 742: 1,
 743: 4,
 744: 0,
 745: 0,
 746: 1,
 747: 0,
 748: 0,
 749: 1,
 750: 1,
 751: 1,
 752: 1,
 753: 1,
 754: 0,
 755: 0,
 756: 1,
 757: 0,
 758: 0,
 759: 1,
 760: 0,
 761: 0,
 762: 0,
 763: 0,
 764: 1,
 765: 0,
 766: 0,
 767: 0,
 768: 0,
 769: 0,
 770: 0,
 771: 0,
 772: 0,
 773: 0,
 774: 1,
 775: 1,
 776: 0,
 777: 0,
 778: 1,
 779: 0,
 780: 0,
 781: 0,
 782: 1,
 783: 0,
 784: 0,
 785: 0,
 786: 0,
 787: 0,
 788: 4,
 789: 0,
 790: 0,
 791: 0,
 792: 5,
 793: 0,
 794: 0,
 795: 0,
 796: 0,
 797: 0,
 798: 0,
 799: 3,
 800: 0,
 801: 1,
 802: 1,
 803: 2,
 804: 0,
 805: 0,
 806: 0,
 807: 2,
 808: 3,
 809: 0,
 810: 0,
 811: 0,
 812: 0,
 813: 1,
 814: 0,
 815: 6,
 816: 0,
 817: 0,
 818: 3,
 819: 4,
 820: 1,
 821: 3,
 822: 0,
 823: 0,
 824: 1,
 825: 1,
 826: 0,
 827: 1,
 828: 0,
 829: 0,
 830: 0,
 831: 1,
 832: 0,
 833: 13,
 834: 1,
 835: 0,
 836: 0,
 837: 0,
 838: 1,
 839: 0,
 840: 0,
 841: 0,
 842: 0,
 843: 0,
 844: 0,
 845: 1,
 846: 1,
 847: 0,
 848: 0,
 849: 0,
 850: 0,
 851: 0,
 852: 2,
 853: 0,
 854: 0,
 855: 0,
 856: 0,
 857: 0,
 858: 0,
 859: 0,
 860: 0,
 861: 1,
 862: 0,
 863: 1,
 864: 1,
 865: 0,
 866: 1,
 867: 0,
 868: 0,
 869: 0,
 870: 0,
 871: 1,
 872: 0,
 873: 0,
 874: 1,
 875: 0,
 876: 0,
 877: 1,
 878: 0,
 879: 0,
 880: 0,
 881: 0,
 882: 8,
 883: 5,
 884: 2,
 885: 26,
 886: 1,
 887: 2,
 888: 10,
 889: 6,
 890: 2,
 891: 3,
 892: 24,
 893: 1,
 894: 7,
 895: 0,
 896: 1,
 897: 4,
 898: 5,
 899: 2,
 900: 12,
 901: 3,
 902: 6,
 903: 9,
 904: 3,
 905: 3,
 906: 6,
 907: 8,
 908: 16,
 909: 3,
 910: 10,
 911: 8,
 912: 5,
 913: 2,
 914: 1,
 915: 3,
 916: 7,
 917: 1,
 918: 2,
 919: 5,
 920: 18,
 921: 2,
 922: 1,
 923: 6,
 924: 2,
 925: 2,
 926: 1,
 927: 11,
 928: 8,
 929: 8,
 930: 4,
 931: 6,
 932: 6,
 933: 6,
 934: 0,
 935: 5,
 936: 5,
 937: 8,
 938: 4,
 939: 5,
 940: 10,
 941: 3,
 942: 6,
 943: 9,
 944: 2,
 945: 3,
 946: 4,
 947: 2,
 948: 5,
 949: 0,
 950: 2,
 951: 3,
 952: 3,
 953: 0,
 954: 0,
 955: 8,
 956: 2,
 957: 2,
 958: 1,
 959: 2,
 960: 2,
 961: 2,
 962: 2,
 963: 2,
 964: 0,
 965: 1,
 966: 3,
 967: 1,
 968: 1,
 969: 3,
 970: 0,
 971: 1,
 972: 2,
 973: 1,
 974: 1,
 975: 4,
 976: 1,
 977: 6,
 978: 0,
 979: 0,
 980: 1,
 981: 1,
 982: 1,
 983: 0,
 984: 4,
 985: 0,
 986: 1,
 987: 0,
 988: 0,
 989: 1,
 990: 1,
 991: 1,
 992: 1,
 993: 1,
 994: 1,
 995: 2,
 996: 0,
 997: 0,
 998: 1,
 999: 3,
 ...}

### Frequent Item set
Randomly selecting 5 as the threshold for two frequent dataset

In [279]:
Thresold_value_double= 5
Itemset_double_count1=Itemset_double_count
print("Before with no thresold:",len(Itemset_double_count1))
for i in Itemset_double_count1.keys():
    if Itemset_double_count1[i]< Thresold_value_double:
        Itemset_double_count1[i]=-1
Itemset_double_count_updated={}
for i in Itemset_double_count1.keys():
    if Itemset_double_count1[i]!=-1:# Thresold_value:
        Itemset_double_count_updated[i]=Itemset_double_count1[i]
print("After with thresold 5:",len(Itemset_double_count_updated))

Before with no thresold: 5253
After with thresold 5: 162

In [280]:
Itemset_double_count_updated

{0: 5,
 5: 6,
 8: 10,
 12: 7,
 19: 7,
 35: 6,
 54: 5,
 103: 5,
 105: 7,
 106: 6,
 109: 12,
 111: 5,
 113: 8,
 120: 9,
 128: 5,
 131: 5,
 138: 6,
 140: 5,
 148: 5,
 308: 10,
 312: 5,
 319: 6,
 402: 5,
 406: 12,
 410: 5,
 417: 9,
 433: 6,
 452: 5,
 500: 6,
 503: 13,
 504: 5,
 507: 11,
 514: 5,
 522: 5,
 529: 5,
 532: 5,
 542: 7,
 565: 5,
 599: 19,
 603: 11,
 606: 5,
 610: 8,
 618: 9,
 621: 8,
 626: 9,
 638: 6,
 645: 7,
 647: 5,
 710: 6,
 792: 5,
 815: 6,
 833: 13,
 882: 8,
 883: 5,
 885: 26,
 888: 10,
 889: 6,
 892: 24,
 894: 7,
 898: 5,
 900: 12,
 902: 6,
 903: 9,
 906: 6,
 907: 8,
 908: 16,
 910: 10,
 911: 8,
 912: 5,
 916: 7,
 919: 5,
 920: 18,
 923: 6,
 927: 11,
 928: 8,
 929: 8,
 931: 6,
 932: 6,
 933: 6,
 935: 5,
 936: 5,
 937: 8,
 939: 5,
 940: 10,
 942: 6,
 943: 9,
 948: 5,
 955: 8,
 977: 6,
 1250: 8,
 1254: 17,
 1256: 7,
 1262: 11,
 1265: 6,
 1270: 10,
 1272: 6,
 1273: 6,
 1281: 5,
 1282: 15,
 1285: 5,
 1289: 5,
 1290: 6,
 1292: 7,
 1295: 5,
 1298: 5,
 1299: 5,
 1300: 6,
 1302: 8,
 1304: 5,
 1305: 5,
 1308: 5,
 1317: 5,
 1515: 6,
 1523: 5,
 1553: 5,
 1600: 5,
 1628: 5,
 1854: 8,
 1857: 14,
 1860: 7,
 1864: 12,
 1865: 16,
 1867: 7,
 1868: 5,
 1869: 5,
 1873: 5,
 1877: 8,
 1883: 5,
 1884: 18,
 1885: 9,
 1887: 5,
 1889: 6,
 1892: 5,
 1894: 5,
 1897: 8,
 1899: 5,
 1923: 6,
 2029: 5,
 2252: 5,
 2260: 6,
 2268: 6,
 2480: 6,
 2485: 6,
 2489: 6,
 2512: 5,
 2977: 6,
 2994: 6,
 3043: 5,
 3049: 6,
 3060: 8,
 3061: 6,
 3063: 7,
 3070: 5,
 3658: 5,
 3775: 6,
 3786: 6,
 3787: 5,
 4127: 6,
 4163: 5,
 4173: 7,
 4182: 5,
 4473: 5}

In [281]:
# Now creating dataframe for Two frequent itemset
Itemset_double_df1= pd.DataFrame()
for i in Itemset_double_count_updated.keys():
    Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])

/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])

/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])
/var/folders/gg/tsrpm9zd0fv_fp9smtq6899w0000gn/T/ipykernel_35007/4270982418.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Itemset_double_df1=Itemset_double_df1.append(Itemset_double_df.loc[ [i] ,: ])

### Final Two Frequent Itemset

In [282]:
Itemset_double_df1

              Itemset1          Itemset2
0                    4      citrus fruit
5                    4            yogurt
8                    4        whole milk
12                   4  other vegetables
19                   4        rolls/buns
...                ...               ...
4127           sausage     shopping bags
4163           sausage     sliced cheese
4173                 6     shopping bags
4182                 6           berries
4473  hygiene articles           napkins

[162 rows x 2 columns]

### Fk-1 * F1

In [283]:
temp=[]
for i in Itemset_double_count_updated.keys():
    j=0
    while(j<len(Itemset_single_df)):
        if(Itemset_double_df1.loc[i].Itemset1!=Itemset_single_df.loc[j].Itemset):
            if Itemset_double_df1.loc[i].Itemset2!= Itemset_single_df.loc[j].Itemset:
                temp.append([Itemset_double_df1.loc[i].Itemset1,Itemset_double_df1.loc[i].Itemset2,Itemset_single_df.loc[j].Itemset])
        j = j +1

In [284]:
Itemset_triple_df= pd.DataFrame(temp)

In [285]:
Itemset_triple_df

                      0             1                    2
0                     4  citrus fruit  semi-finished bread
1                     4  citrus fruit            margarine
2                     4  citrus fruit                    3
3                     4  citrus fruit       tropical fruit
4                     4  citrus fruit               yogurt
...                 ...           ...                  ...
16357  hygiene articles       napkins              popcorn
16358  hygiene articles       napkins             cake bar
16359  hygiene articles       napkins                   12
16360  hygiene articles       napkins                 meat
16361  hygiene articles       napkins                  tea

[16362 rows x 3 columns]

In [286]:
Itemset_triple_df.shape

(16362, 3)

In [287]:
# Now lets count the number of unique three frequent itemsets
#Approach: For each item we are creating a dictionary to get their count
Itemset_triple_count={}
i=0
while(i<len(Itemset_triple_df)):
    Itemset_triple_count[i]=0
    i=i+1

In [232]:
Itemset_triple_count

{0: 0,
 1: 0,
 2: 0,
 3: 0,
 4: 0,
 5: 0,
 6: 0,
 7: 0,
 8: 0,
 9: 0,
 10: 0,
 11: 0,
 12: 0,
 13: 0,
 14: 0,
 15: 0,
 16: 0,
 17: 0,
 18: 0,
 19: 0,
 20: 0,
 21: 0,
 22: 0,
 23: 0,
 24: 0,
 25: 0,
 26: 0,
 27: 0,
 28: 0,
 29: 0,
 30: 0,
 31: 0,
 32: 0,
 33: 0,
 34: 0,
 35: 0,
 36: 0,
 37: 0,
 38: 0,
 39: 0,
 40: 0,
 41: 0,
 42: 0,
 43: 0,
 44: 0,
 45: 0,
 46: 0,
 47: 0,
 48: 0,
 49: 0,
 50: 0,
 51: 0,
 52: 0,
 53: 0,
 54: 0,
 55: 0,
 56: 0,
 57: 0,
 58: 0,
 59: 0,
 60: 0,
 61: 0,
 62: 0,
 63: 0,
 64: 0,
 65: 0,
 66: 0,
 67: 0,
 68: 0,
 69: 0,
 70: 0,
 71: 0,
 72: 0,
 73: 0,
 74: 0,
 75: 0,
 76: 0,
 77: 0,
 78: 0,
 79: 0,
 80: 0,
 81: 0,
 82: 0,
 83: 0,
 84: 0,
 85: 0,
 86: 0,
 87: 0,
 88: 0,
 89: 0,
 90: 0,
 91: 0,
 92: 0,
 93: 0,
 94: 0,
 95: 0,
 96: 0,
 97: 0,
 98: 0,
 99: 0,
 100: 0,
 101: 0,
 102: 0,
 103: 0,
 104: 0,
 105: 0,
 106: 0,
 107: 0,
 108: 0,
 109: 0,
 110: 0,
 111: 0,
 112: 0,
 113: 0,
 114: 0,
 115: 0,
 116: 0,
 117: 0,
 118: 0,
 119: 0,
 120: 0,
 121: 0,
 122: 0,
 123: 0,
 124: 0,
 125: 0,
 126: 0,
 127: 0,
 128: 0,
 129: 0,
 130: 0,
 131: 0,
 132: 0,
 133: 0,
 134: 0,
 135: 0,
 136: 0,
 137: 0,
 138: 0,
 139: 0,
 140: 0,
 141: 0,
 142: 0,
 143: 0,
 144: 0,
 145: 0,
 146: 0,
 147: 0,
 148: 0,
 149: 0,
 150: 0,
 151: 0,
 152: 0,
 153: 0,
 154: 0,
 155: 0,
 156: 0,
 157: 0,
 158: 0,
 159: 0,
 160: 0,
 161: 0,
 162: 0,
 163: 0,
 164: 0,
 165: 0,
 166: 0,
 167: 0,
 168: 0,
 169: 0,
 170: 0,
 171: 0,
 172: 0,
 173: 0,
 174: 0,
 175: 0,
 176: 0,
 177: 0,
 178: 0,
 179: 0,
 180: 0,
 181: 0,
 182: 0,
 183: 0,
 184: 0,
 185: 0,
 186: 0,
 187: 0,
 188: 0,
 189: 0,
 190: 0,
 191: 0,
 192: 0,
 193: 0,
 194: 0,
 195: 0,
 196: 0,
 197: 0,
 198: 0,
 199: 0,
 200: 0,
 201: 0,
 202: 0,
 203: 0,
 204: 0,
 205: 0,
 206: 0,
 207: 0,
 208: 0,
 209: 0,
 210: 0,
 211: 0,
 212: 0,
 213: 0,
 214: 0,
 215: 0,
 216: 0,
 217: 0,
 218: 0,
 219: 0,
 220: 0,
 221: 0,
 222: 0,
 223: 0,
 224: 0,
 225: 0,
 226: 0,
 227: 0,
 228: 0,
 229: 0,
 230: 0,
 231: 0,
 232: 0,
 233: 0,
 234: 0,
 235: 0,
 236: 0,
 237: 0,
 238: 0,
 239: 0,
 240: 0,
 241: 0,
 242: 0,
 243: 0,
 244: 0,
 245: 0,
 246: 0,
 247: 0,
 248: 0,
 249: 0,
 250: 0,
 251: 0,
 252: 0,
 253: 0,
 254: 0,
 255: 0,
 256: 0,
 257: 0,
 258: 0,
 259: 0,
 260: 0,
 261: 0,
 262: 0,
 263: 0,
 264: 0,
 265: 0,
 266: 0,
 267: 0,
 268: 0,
 269: 0,
 270: 0,
 271: 0,
 272: 0,
 273: 0,
 274: 0,
 275: 0,
 276: 0,
 277: 0,
 278: 0,
 279: 0,
 280: 0,
 281: 0,
 282: 0,
 283: 0,
 284: 0,
 285: 0,
 286: 0,
 287: 0,
 288: 0,
 289: 0,
 290: 0,
 291: 0,
 292: 0,
 293: 0,
 294: 0,
 295: 0,
 296: 0,
 297: 0,
 298: 0,
 299: 0,
 300: 0,
 301: 0,
 302: 0,
 303: 0,
 304: 0,
 305: 0,
 306: 0,
 307: 0,
 308: 0,
 309: 0,
 310: 0,
 311: 0,
 312: 0,
 313: 0,
 314: 0,
 315: 0,
 316: 0,
 317: 0,
 318: 0,
 319: 0,
 320: 0,
 321: 0,
 322: 0,
 323: 0,
 324: 0,
 325: 0,
 326: 0,
 327: 0,
 328: 0,
 329: 0,
 330: 0,
 331: 0,
 332: 0,
 333: 0,
 334: 0,
 335: 0,
 336: 0,
 337: 0,
 338: 0,
 339: 0,
 340: 0,
 341: 0,
 342: 0,
 343: 0,
 344: 0,
 345: 0,
 346: 0,
 347: 0,
 348: 0,
 349: 0,
 350: 0,
 351: 0,
 352: 0,
 353: 0,
 354: 0,
 355: 0,
 356: 0,
 357: 0,
 358: 0,
 359: 0,
 360: 0,
 361: 0,
 362: 0,
 363: 0,
 364: 0,
 365: 0,
 366: 0,
 367: 0,
 368: 0,
 369: 0,
 370: 0,
 371: 0,
 372: 0,
 373: 0,
 374: 0,
 375: 0,
 376: 0,
 377: 0,
 378: 0,
 379: 0,
 380: 0,
 381: 0,
 382: 0,
 383: 0,
 384: 0,
 385: 0,
 386: 0,
 387: 0,
 388: 0,
 389: 0,
 390: 0,
 391: 0,
 392: 0,
 393: 0,
 394: 0,
 395: 0,
 396: 0,
 397: 0,
 398: 0,
 399: 0,
 400: 0,
 401: 0,
 402: 0,
 403: 0,
 404: 0,
 405: 0,
 406: 0,
 407: 0,
 408: 0,
 409: 0,
 410: 0,
 411: 0,
 412: 0,
 413: 0,
 414: 0,
 415: 0,
 416: 0,
 417: 0,
 418: 0,
 419: 0,
 420: 0,
 421: 0,
 422: 0,
 423: 0,
 424: 0,
 425: 0,
 426: 0,
 427: 0,
 428: 0,
 429: 0,
 430: 0,
 431: 0,
 432: 0,
 433: 0,
 434: 0,
 435: 0,
 436: 0,
 437: 0,
 438: 0,
 439: 0,
 440: 0,
 441: 0,
 442: 0,
 443: 0,
 444: 0,
 445: 0,
 446: 0,
 447: 0,
 448: 0,
 449: 0,
 450: 0,
 451: 0,
 452: 0,
 453: 0,
 454: 0,
 455: 0,
 456: 0,
 457: 0,
 458: 0,
 459: 0,
 460: 0,
 461: 0,
 462: 0,
 463: 0,
 464: 0,
 465: 0,
 466: 0,
 467: 0,
 468: 0,
 469: 0,
 470: 0,
 471: 0,
 472: 0,
 473: 0,
 474: 0,
 475: 0,
 476: 0,
 477: 0,
 478: 0,
 479: 0,
 480: 0,
 481: 0,
 482: 0,
 483: 0,
 484: 0,
 485: 0,
 486: 0,
 487: 0,
 488: 0,
 489: 0,
 490: 0,
 491: 0,
 492: 0,
 493: 0,
 494: 0,
 495: 0,
 496: 0,
 497: 0,
 498: 0,
 499: 0,
 500: 0,
 501: 0,
 502: 0,
 503: 0,
 504: 0,
 505: 0,
 506: 0,
 507: 0,
 508: 0,
 509: 0,
 510: 0,
 511: 0,
 512: 0,
 513: 0,
 514: 0,
 515: 0,
 516: 0,
 517: 0,
 518: 0,
 519: 0,
 520: 0,
 521: 0,
 522: 0,
 523: 0,
 524: 0,
 525: 0,
 526: 0,
 527: 0,
 528: 0,
 529: 0,
 530: 0,
 531: 0,
 532: 0,
 533: 0,
 534: 0,
 535: 0,
 536: 0,
 537: 0,
 538: 0,
 539: 0,
 540: 0,
 541: 0,
 542: 0,
 543: 0,
 544: 0,
 545: 0,
 546: 0,
 547: 0,
 548: 0,
 549: 0,
 550: 0,
 551: 0,
 552: 0,
 553: 0,
 554: 0,
 555: 0,
 556: 0,
 557: 0,
 558: 0,
 559: 0,
 560: 0,
 561: 0,
 562: 0,
 563: 0,
 564: 0,
 565: 0,
 566: 0,
 567: 0,
 568: 0,
 569: 0,
 570: 0,
 571: 0,
 572: 0,
 573: 0,
 574: 0,
 575: 0,
 576: 0,
 577: 0,
 578: 0,
 579: 0,
 580: 0,
 581: 0,
 582: 0,
 583: 0,
 584: 0,
 585: 0,
 586: 0,
 587: 0,
 588: 0,
 589: 0,
 590: 0,
 591: 0,
 592: 0,
 593: 0,
 594: 0,
 595: 0,
 596: 0,
 597: 0,
 598: 0,
 599: 0,
 600: 0,
 601: 0,
 602: 0,
 603: 0,
 604: 0,
 605: 0,
 606: 0,
 607: 0,
 608: 0,
 609: 0,
 610: 0,
 611: 0,
 612: 0,
 613: 0,
 614: 0,
 615: 0,
 616: 0,
 617: 0,
 618: 0,
 619: 0,
 620: 0,
 621: 0,
 622: 0,
 623: 0,
 624: 0,
 625: 0,
 626: 0,
 627: 0,
 628: 0,
 629: 0,
 630: 0,
 631: 0,
 632: 0,
 633: 0,
 634: 0,
 635: 0,
 636: 0,
 637: 0,
 638: 0,
 639: 0,
 640: 0,
 641: 0,
 642: 0,
 643: 0,
 644: 0,
 645: 0,
 646: 0,
 647: 0,
 648: 0,
 649: 0,
 650: 0,
 651: 0,
 652: 0,
 653: 0,
 654: 0,
 655: 0,
 656: 0,
 657: 0,
 658: 0,
 659: 0,
 660: 0,
 661: 0,
 662: 0,
 663: 0,
 664: 0,
 665: 0,
 666: 0,
 667: 0,
 668: 0,
 669: 0,
 670: 0,
 671: 0,
 672: 0,
 673: 0,
 674: 0,
 675: 0,
 676: 0,
 677: 0,
 678: 0,
 679: 0,
 680: 0,
 681: 0,
 682: 0,
 683: 0,
 684: 0,
 685: 0,
 686: 0,
 687: 0,
 688: 0,
 689: 0,
 690: 0,
 691: 0,
 692: 0,
 693: 0,
 694: 0,
 695: 0,
 696: 0,
 697: 0,
 698: 0,
 699: 0,
 700: 0,
 701: 0,
 702: 0,
 703: 0,
 704: 0,
 705: 0,
 706: 0,
 707: 0,
 708: 0,
 709: 0,
 710: 0,
 711: 0,
 712: 0,
 713: 0,
 714: 0,
 715: 0,
 716: 0,
 717: 0,
 718: 0,
 719: 0,
 720: 0,
 721: 0,
 722: 0,
 723: 0,
 724: 0,
 725: 0,
 726: 0,
 727: 0,
 728: 0,
 729: 0,
 730: 0,
 731: 0,
 732: 0,
 733: 0,
 734: 0,
 735: 0,
 736: 0,
 737: 0,
 738: 0,
 739: 0,
 740: 0,
 741: 0,
 742: 0,
 743: 0,
 744: 0,
 745: 0,
 746: 0,
 747: 0,
 748: 0,
 749: 0,
 750: 0,
 751: 0,
 752: 0,
 753: 0,
 754: 0,
 755: 0,
 756: 0,
 757: 0,
 758: 0,
 759: 0,
 760: 0,
 761: 0,
 762: 0,
 763: 0,
 764: 0,
 765: 0,
 766: 0,
 767: 0,
 768: 0,
 769: 0,
 770: 0,
 771: 0,
 772: 0,
 773: 0,
 774: 0,
 775: 0,
 776: 0,
 777: 0,
 778: 0,
 779: 0,
 780: 0,
 781: 0,
 782: 0,
 783: 0,
 784: 0,
 785: 0,
 786: 0,
 787: 0,
 788: 0,
 789: 0,
 790: 0,
 791: 0,
 792: 0,
 793: 0,
 794: 0,
 795: 0,
 796: 0,
 797: 0,
 798: 0,
 799: 0,
 800: 0,
 801: 0,
 802: 0,
 803: 0,
 804: 0,
 805: 0,
 806: 0,
 807: 0,
 808: 0,
 809: 0,
 810: 0,
 811: 0,
 812: 0,
 813: 0,
 814: 0,
 815: 0,
 816: 0,
 817: 0,
 818: 0,
 819: 0,
 820: 0,
 821: 0,
 822: 0,
 823: 0,
 824: 0,
 825: 0,
 826: 0,
 827: 0,
 828: 0,
 829: 0,
 830: 0,
 831: 0,
 832: 0,
 833: 0,
 834: 0,
 835: 0,
 836: 0,
 837: 0,
 838: 0,
 839: 0,
 840: 0,
 841: 0,
 842: 0,
 843: 0,
 844: 0,
 845: 0,
 846: 0,
 847: 0,
 848: 0,
 849: 0,
 850: 0,
 851: 0,
 852: 0,
 853: 0,
 854: 0,
 855: 0,
 856: 0,
 857: 0,
 858: 0,
 859: 0,
 860: 0,
 861: 0,
 862: 0,
 863: 0,
 864: 0,
 865: 0,
 866: 0,
 867: 0,
 868: 0,
 869: 0,
 870: 0,
 871: 0,
 872: 0,
 873: 0,
 874: 0,
 875: 0,
 876: 0,
 877: 0,
 878: 0,
 879: 0,
 880: 0,
 881: 0,
 882: 0,
 883: 0,
 884: 0,
 885: 0,
 886: 0,
 887: 0,
 888: 0,
 889: 0,
 890: 0,
 891: 0,
 892: 0,
 893: 0,
 894: 0,
 895: 0,
 896: 0,
 897: 0,
 898: 0,
 899: 0,
 900: 0,
 901: 0,
 902: 0,
 903: 0,
 904: 0,
 905: 0,
 906: 0,
 907: 0,
 908: 0,
 909: 0,
 910: 0,
 911: 0,
 912: 0,
 913: 0,
 914: 0,
 915: 0,
 916: 0,
 917: 0,
 918: 0,
 919: 0,
 920: 0,
 921: 0,
 922: 0,
 923: 0,
 924: 0,
 925: 0,
 926: 0,
 927: 0,
 928: 0,
 929: 0,
 930: 0,
 931: 0,
 932: 0,
 933: 0,
 934: 0,
 935: 0,
 936: 0,
 937: 0,
 938: 0,
 939: 0,
 940: 0,
 941: 0,
 942: 0,
 943: 0,
 944: 0,
 945: 0,
 946: 0,
 947: 0,
 948: 0,
 949: 0,
 950: 0,
 951: 0,
 952: 0,
 953: 0,
 954: 0,
 955: 0,
 956: 0,
 957: 0,
 958: 0,
 959: 0,
 960: 0,
 961: 0,
 962: 0,
 963: 0,
 964: 0,
 965: 0,
 966: 0,
 967: 0,
 968: 0,
 969: 0,
 970: 0,
 971: 0,
 972: 0,
 973: 0,
 974: 0,
 975: 0,
 976: 0,
 977: 0,
 978: 0,
 979: 0,
 980: 0,
 981: 0,
 982: 0,
 983: 0,
 984: 0,
 985: 0,
 986: 0,
 987: 0,
 988: 0,
 989: 0,
 990: 0,
 991: 0,
 992: 0,
 993: 0,
 994: 0,
 995: 0,
 996: 0,
 997: 0,
 998: 0,
 999: 0,
 ...}

In [288]:
# Counting the itemset
for i in Itemset_triple_count.keys():
    j=0
    while(j<len(df)):
            if set(Itemset_triple_df.loc[i]).issubset(set(df.loc[j])):
                Itemset_triple_count[i]= Itemset_triple_count[i]+1
            j=j+1

In [237]:
Itemset_triple_count
#After updating the count, we can see the actual count

{0: 1,
 1: 1,
 2: 0,
 3: 0,
 4: 3,
 5: 0,
 6: 0,
 7: 0,
 8: 0,
 9: 1,
 10: 1,
 11: 0,
 12: 0,
 13: 0,
 14: 0,
 15: 1,
 16: 0,
 17: 0,
 18: 0,
 19: 0,
 20: 0,
 21: 1,
 22: 0,
 23: 0,
 24: 0,
 25: 0,
 26: 0,
 27: 1,
 28: 0,
 29: 0,
 30: 0,
 31: 0,
 32: 0,
 33: 0,
 34: 1,
 35: 0,
 36: 1,
 37: 0,
 38: 0,
 39: 0,
 40: 0,
 41: 0,
 42: 0,
 43: 0,
 44: 0,
 45: 0,
 46: 0,
 47: 0,
 48: 0,
 49: 0,
 50: 0,
 51: 0,
 52: 0,
 53: 0,
 54: 0,
 55: 0,
 56: 1,
 57: 0,
 58: 0,
 59: 0,
 60: 0,
 61: 0,
 62: 0,
 63: 0,
 64: 0,
 65: 0,
 66: 0,
 67: 0,
 68: 0,
 69: 0,
 70: 0,
 71: 0,
 72: 0,
 73: 0,
 74: 0,
 75: 3,
 76: 0,
 77: 0,
 78: 0,
 79: 0,
 80: 0,
 81: 0,
 82: 1,
 83: 1,
 84: 2,
 85: 1,
 86: 0,
 87: 0,
 88: 0,
 89: 0,
 90: 0,
 91: 0,
 92: 0,
 93: 0,
 94: 0,
 95: 0,
 96: 2,
 97: 0,
 98: 0,
 99: 1,
 100: 0,
 101: 0,
 102: 1,
 103: 0,
 104: 0,
 105: 0,
 106: 0,
 107: 0,
 108: 0,
 109: 1,
 110: 1,
 111: 1,
 112: 1,
 113: 0,
 114: 0,
 115: 0,
 116: 0,
 117: 0,
 118: 0,
 119: 0,
 120: 0,
 121: 0,
 122: 0,
 123: 0,
 124: 1,
 125: 0,
 126: 0,
 127: 0,
 128: 0,
 129: 0,
 130: 0,
 131: 0,
 132: 0,
 133: 0,
 134: 0,
 135: 0,
 136: 0,
 137: 0,
 138: 0,
 139: 0,
 140: 0,
 141: 0,
 142: 0,
 143: 0,
 144: 0,
 145: 0,
 146: 0,
 147: 0,
 148: 0,
 149: 0,
 150: 0,
 151: 1,
 152: 1,
 153: 0,
 154: 0,
 155: 1,
 156: 0,
 157: 0,
 158: 0,
 159: 1,
 160: 4,
 161: 1,
 162: 0,
 163: 1,
 164: 2,
 165: 1,
 166: 0,
 167: 0,
 168: 0,
 169: 1,
 170: 0,
 171: 0,
 172: 0,
 173: 0,
 174: 1,
 175: 0,
 176: 0,
 177: 0,
 178: 0,
 179: 1,
 180: 0,
 181: 1,
 182: 0,
 183: 0,
 184: 0,
 185: 0,
 186: 0,
 187: 1,
 188: 1,
 189: 0,
 190: 2,
 191: 0,
 192: 0,
 193: 0,
 194: 0,
 195: 0,
 196: 0,
 197: 0,
 198: 0,
 199: 1,
 200: 0,
 201: 0,
 202: 0,
 203: 0,
 204: 0,
 205: 0,
 206: 0,
 207: 1,
 208: 1,
 209: 2,
 210: 0,
 211: 0,
 212: 0,
 213: 0,
 214: 1,
 215: 0,
 216: 0,
 217: 0,
 218: 0,
 219: 0,
 220: 0,
 221: 0,
 222: 0,
 223: 0,
 224: 0,
 225: 1,
 226: 0,
 227: 0,
 228: 0,
 229: 0,
 230: 1,
 231: 0,
 232: 0,
 233: 4,
 234: 0,
 235: 0,
 236: 1,
 237: 0,
 238: 1,
 239: 2,
 240: 0,
 241: 1,
 242: 0,
 243: 0,
 244: 0,
 245: 0,
 246: 0,
 247: 0,
 248: 0,
 249: 0,
 250: 0,
 251: 0,
 252: 1,
 253: 0,
 254: 0,
 255: 0,
 256: 1,
 257: 0,
 258: 0,
 259: 0,
 260: 0,
 261: 0,
 262: 0,
 263: 0,
 264: 0,
 265: 1,
 266: 0,
 267: 0,
 268: 0,
 269: 0,
 270: 0,
 271: 0,
 272: 0,
 273: 0,
 274: 0,
 275: 0,
 276: 0,
 277: 0,
 278: 0,
 279: 0,
 280: 0,
 281: 0,
 282: 0,
 283: 1,
 284: 1,
 285: 0,
 286: 0,
 287: 0,
 288: 0,
 289: 1,
 290: 0,
 291: 0,
 292: 0,
 293: 1,
 294: 0,
 295: 0,
 296: 0,
 297: 0,
 298: 0,
 299: 1,
 300: 0,
 301: 0,
 302: 0,
 303: 0,
 304: 0,
 305: 0,
 306: 0,
 307: 0,
 308: 2,
 309: 0,
 310: 1,
 311: 2,
 312: 0,
 313: 0,
 314: 2,
 315: 0,
 316: 0,
 317: 0,
 318: 0,
 319: 0,
 320: 0,
 321: 1,
 322: 2,
 323: 0,
 324: 0,
 325: 0,
 326: 0,
 327: 0,
 328: 0,
 329: 2,
 330: 0,
 331: 1,
 332: 0,
 333: 2,
 334: 0,
 335: 0,
 336: 0,
 337: 0,
 338: 0,
 339: 0,
 340: 0,
 341: 0,
 342: 0,
 343: 0,
 344: 0,
 345: 2,
 346: 0,
 347: 0,
 348: 0,
 349: 0,
 350: 0,
 351: 0,
 352: 0,
 353: 0,
 354: 0,
 355: 0,
 356: 0,
 357: 0,
 358: 0,
 359: 1,
 360: 0,
 361: 0,
 362: 0,
 363: 1,
 364: 0,
 365: 0,
 366: 0,
 367: 0,
 368: 0,
 369: 0,
 370: 0,
 371: 0,
 372: 0,
 373: 0,
 374: 1,
 375: 0,
 376: 0,
 377: 0,
 378: 0,
 379: 0,
 380: 0,
 381: 0,
 382: 0,
 383: 1,
 384: 0,
 385: 1,
 386: 0,
 387: 0,
 388: 0,
 389: 0,
 390: 2,
 391: 1,
 392: 2,
 393: 0,
 394: 0,
 395: 0,
 396: 0,
 397: 1,
 398: 2,
 399: 0,
 400: 0,
 401: 0,
 402: 0,
 403: 0,
 404: 0,
 405: 0,
 406: 1,
 407: 0,
 408: 1,
 409: 0,
 410: 0,
 411: 0,
 412: 0,
 413: 0,
 414: 0,
 415: 0,
 416: 0,
 417: 0,
 418: 0,
 419: 0,
 420: 2,
 421: 0,
 422: 0,
 423: 1,
 424: 1,
 425: 0,
 426: 0,
 427: 0,
 428: 0,
 429: 0,
 430: 0,
 431: 0,
 432: 0,
 433: 0,
 434: 0,
 435: 0,
 436: 0,
 437: 0,
 438: 0,
 439: 0,
 440: 0,
 441: 0,
 442: 0,
 443: 0,
 444: 0,
 445: 0,
 446: 0,
 447: 0,
 448: 0,
 449: 0,
 450: 0,
 451: 0,
 452: 0,
 453: 0,
 454: 0,
 455: 0,
 456: 0,
 457: 0,
 458: 0,
 459: 0,
 460: 0,
 461: 0,
 462: 1,
 463: 0,
 464: 0,
 465: 2,
 466: 0,
 467: 0,
 468: 0,
 469: 0,
 470: 0,
 471: 0,
 472: 0,
 473: 1,
 474: 0,
 475: 0,
 476: 0,
 477: 0,
 478: 0,
 479: 1,
 480: 2,
 481: 0,
 482: 0,
 483: 0,
 484: 2,
 485: 0,
 486: 0,
 487: 0,
 488: 0,
 489: 0,
 490: 0,
 491: 0,
 492: 0,
 493: 1,
 494: 0,
 495: 0,
 496: 0,
 497: 0,
 498: 1,
 499: 0,
 500: 0,
 501: 0,
 502: 1,
 503: 1,
 504: 0,
 505: 0,
 506: 0,
 507: 0,
 508: 0,
 509: 0,
 510: 0,
 511: 0,
 512: 0,
 513: 0,
 514: 0,
 515: 0,
 516: 1,
 517: 0,
 518: 0,
 519: 0,
 520: 0,
 521: 0,
 522: 0,
 523: 0,
 524: 0,
 525: 1,
 526: 1,
 527: 0,
 528: 0,
 529: 0,
 530: 0,
 531: 0,
 532: 1,
 533: 1,
 534: 2,
 535: 1,
 536: 0,
 537: 1,
 538: 1,
 539: 0,
 540: 1,
 541: 0,
 542: 0,
 543: 0,
 544: 0,
 545: 1,
 546: 0,
 547: 0,
 548: 0,
 549: 1,
 550: 0,
 551: 0,
 552: 0,
 553: 1,
 554: 0,
 555: 0,
 556: 2,
 557: 0,
 558: 2,
 559: 0,
 560: 0,
 561: 0,
 562: 1,
 563: 0,
 564: 1,
 565: 1,
 566: 0,
 567: 1,
 568: 1,
 569: 0,
 570: 0,
 571: 0,
 572: 1,
 573: 0,
 574: 0,
 575: 2,
 576: 0,
 577: 0,
 578: 0,
 579: 0,
 580: 0,
 581: 0,
 582: 0,
 583: 0,
 584: 0,
 585: 1,
 586: 0,
 587: 0,
 588: 0,
 589: 0,
 590: 0,
 591: 1,
 592: 0,
 593: 0,
 594: 0,
 595: 0,
 596: 0,
 597: 0,
 598: 0,
 599: 0,
 600: 0,
 601: 0,
 602: 0,
 603: 0,
 604: 2,
 605: 0,
 606: 0,
 607: 4,
 608: 1,
 609: 1,
 610: 2,
 611: 0,
 612: 0,
 613: 2,
 614: 2,
 615: 0,
 616: 0,
 617: 0,
 618: 2,
 619: 0,
 620: 0,
 621: 2,
 622: 1,
 623: 1,
 624: 1,
 625: 1,
 626: 1,
 627: 0,
 628: 1,
 629: 1,
 630: 2,
 631: 1,
 632: 1,
 633: 1,
 634: 0,
 635: 0,
 636: 0,
 637: 0,
 638: 1,
 639: 1,
 640: 2,
 641: 0,
 642: 0,
 643: 0,
 644: 0,
 645: 2,
 646: 0,
 647: 0,
 648: 0,
 649: 0,
 650: 1,
 651: 1,
 652: 1,
 653: 0,
 654: 0,
 655: 0,
 656: 0,
 657: 0,
 658: 0,
 659: 0,
 660: 1,
 661: 1,
 662: 1,
 663: 1,
 664: 0,
 665: 0,
 666: 1,
 667: 0,
 668: 0,
 669: 0,
 670: 0,
 671: 0,
 672: 0,
 673: 0,
 674: 0,
 675: 3,
 676: 0,
 677: 0,
 678: 0,
 679: 2,
 680: 0,
 681: 0,
 682: 3,
 683: 0,
 684: 1,
 685: 2,
 686: 0,
 687: 0,
 688: 1,
 689: 2,
 690: 0,
 691: 0,
 692: 0,
 693: 0,
 694: 1,
 695: 0,
 696: 3,
 697: 1,
 698: 1,
 699: 2,
 700: 1,
 701: 1,
 702: 1,
 703: 0,
 704: 1,
 705: 0,
 706: 1,
 707: 0,
 708: 1,
 709: 1,
 710: 0,
 711: 1,
 712: 0,
 713: 0,
 714: 1,
 715: 0,
 716: 0,
 717: 0,
 718: 0,
 719: 0,
 720: 1,
 721: 0,
 722: 0,
 723: 0,
 724: 0,
 725: 0,
 726: 0,
 727: 1,
 728: 1,
 729: 0,
 730: 0,
 731: 0,
 732: 1,
 733: 0,
 734: 1,
 735: 0,
 736: 0,
 737: 0,
 738: 0,
 739: 0,
 740: 0,
 741: 0,
 742: 0,
 743: 0,
 744: 0,
 745: 1,
 746: 0,
 747: 0,
 748: 0,
 749: 0,
 750: 0,
 751: 0,
 752: 1,
 753: 1,
 754: 4,
 755: 3,
 756: 0,
 757: 0,
 758: 2,
 759: 2,
 760: 4,
 761: 0,
 762: 1,
 763: 1,
 764: 6,
 765: 0,
 766: 0,
 767: 0,
 768: 0,
 769: 1,
 770: 0,
 771: 2,
 772: 1,
 773: 1,
 774: 3,
 775: 1,
 776: 1,
 777: 1,
 778: 3,
 779: 3,
 780: 1,
 781: 3,
 782: 1,
 783: 2,
 784: 0,
 785: 0,
 786: 2,
 787: 1,
 788: 0,
 789: 2,
 790: 3,
 791: 0,
 792: 1,
 793: 0,
 794: 0,
 795: 3,
 796: 1,
 797: 1,
 798: 0,
 799: 1,
 800: 1,
 801: 0,
 802: 2,
 803: 1,
 804: 2,
 805: 0,
 806: 1,
 807: 2,
 808: 0,
 809: 1,
 810: 3,
 811: 1,
 812: 0,
 813: 2,
 814: 0,
 815: 0,
 816: 1,
 817: 0,
 818: 0,
 819: 0,
 820: 1,
 821: 1,
 822: 0,
 823: 0,
 824: 1,
 825: 1,
 826: 0,
 827: 2,
 828: 0,
 829: 1,
 830: 1,
 831: 0,
 832: 0,
 833: 2,
 834: 2,
 835: 2,
 836: 0,
 837: 0,
 838: 1,
 839: 1,
 840: 0,
 841: 0,
 842: 0,
 843: 0,
 844: 0,
 845: 1,
 846: 1,
 847: 0,
 848: 0,
 849: 1,
 850: 0,
 851: 0,
 852: 0,
 853: 1,
 854: 0,
 855: 0,
 856: 1,
 857: 1,
 858: 1,
 859: 0,
 860: 0,
 861: 2,
 862: 0,
 863: 0,
 864: 1,
 865: 1,
 866: 0,
 867: 1,
 868: 0,
 869: 0,
 870: 1,
 871: 0,
 872: 2,
 873: 0,
 874: 1,
 875: 1,
 876: 0,
 877: 1,
 878: 0,
 879: 0,
 880: 0,
 881: 0,
 882: 0,
 883: 0,
 884: 1,
 885: 2,
 886: 1,
 887: 0,
 888: 1,
 889: 0,
 890: 0,
 891: 1,
 892: 0,
 893: 0,
 894: 0,
 895: 0,
 896: 0,
 897: 0,
 898: 0,
 899: 1,
 900: 1,
 901: 0,
 902: 1,
 903: 0,
 904: 2,
 905: 2,
 906: 0,
 907: 0,
 908: 4,
 909: 1,
 910: 2,
 911: 0,
 912: 1,
 913: 1,
 914: 5,
 915: 0,
 916: 0,
 917: 0,
 918: 0,
 919: 0,
 920: 0,
 921: 2,
 922: 1,
 923: 0,
 924: 1,
 925: 0,
 926: 0,
 927: 2,
 928: 1,
 929: 2,
 930: 1,
 931: 1,
 932: 0,
 933: 1,
 934: 0,
 935: 0,
 936: 2,
 937: 0,
 938: 1,
 939: 2,
 940: 2,
 941: 1,
 942: 1,
 943: 0,
 944: 0,
 945: 2,
 946: 0,
 947: 2,
 948: 1,
 949: 2,
 950: 0,
 951: 1,
 952: 0,
 953: 0,
 954: 1,
 955: 0,
 956: 0,
 957: 1,
 958: 0,
 959: 1,
 960: 1,
 961: 0,
 962: 1,
 963: 1,
 964: 0,
 965: 0,
 966: 1,
 967: 0,
 968: 0,
 969: 0,
 970: 0,
 971: 1,
 972: 0,
 973: 0,
 974: 1,
 975: 0,
 976: 0,
 977: 0,
 978: 1,
 979: 2,
 980: 2,
 981: 0,
 982: 0,
 983: 6,
 984: 0,
 985: 1,
 986: 5,
 987: 0,
 988: 1,
 989: 0,
 990: 0,
 991: 0,
 992: 0,
 993: 0,
 994: 1,
 995: 0,
 996: 3,
 997: 1,
 998: 0,
 999: 2,
 ...}

### Frequent Item set
Randomly selecting 5 as the threshold for two frequent dataset

In [289]:
Thresold_value_triple= 5
Itemset_triple_count1=Itemset_triple_count
print("Before with no thresold:",len(Itemset_triple_count1))
for i in Itemset_triple_count1.keys():
    if Itemset_triple_count1[i]< Thresold_value_triple:
        Itemset_triple_count1[i]=-1
Itemset_triple_count_updated={}
for i in Itemset_triple_count1.keys():
    if Itemset_triple_count1[i]!=-1:# Thresold_value:
        Itemset_triple_count_updated[i]=Itemset_triple_count1[i]
print("After with thresold 5:",len(Itemset_triple_count_updated))

Before with no thresold: 16362
After with thresold 5: 72

### Final Fk-1 * F1  Itemset

In [293]:
Itemset_triple_count_updated

{1028: 6,
 1230: 5,
 1321: 6,
 1325: 5,
 1937: 5,
 2129: 5,
 2835: 5,
 2934: 5,
 2940: 5,
 3139: 5,
 3843: 5,
 3849: 6,
 3856: 6,
 3864: 5,
 3867: 7,
 3893: 5,
 3947: 6,
 4149: 6,
 4250: 5,
 4351: 7,
 4755: 5,
 5263: 5,
 5459: 5,
 5460: 6,
 5463: 5,
 5472: 8,
 5488: 7,
 5490: 6,
 5500: 8,
 5520: 5,
 5758: 6,
 5760: 5,
 5763: 6,
 5769: 8,
 5783: 5,
 5791: 6,
 5793: 5,
 5810: 7,
 6066: 5,
 6079: 5,
 6268: 7,
 6577: 7,
 6584: 6,
 6678: 6,
 6685: 5,
 7183: 8,
 7392: 7,
 7581: 5,
 8395: 5,
 8897: 5,
 9091: 5,
 9099: 8,
 9116: 5,
 9311: 5,
 9503: 7,
 9604: 6,
 9907: 8,
 10816: 5,
 11927: 5,
 11931: 5,
 12230: 6,
 12274: 5,
 12331: 5,
 12937: 7,
 12963: 5,
 13020: 5,
 13790: 5,
 15069: 5,
 15619: 5,
 15710: 5,
 15978: 5,
 16208: 5}

In [295]:
Itemset_triple_count_updated.keys()

dict_keys([1028, 1230, 1321, 1325, 1937, 2129, 2835, 2934, 2940, 3139, 3843, 3849, 3856, 3864, 3867, 3893, 3947, 4149, 4250, 4351, 4755, 5263, 5459, 5460, 5463, 5472, 5488, 5490, 5500, 5520, 5758, 5760, 5763, 5769, 5783, 5791, 5793, 5810, 6066, 6079, 6268, 6577, 6584, 6678, 6685, 7183, 7392, 7581, 8395, 8897, 9091, 9099, 9116, 9311, 9503, 9604, 9907, 10816, 11927, 11931, 12230, 12274, 12331, 12937, 12963, 13020, 13790, 15069, 15619, 15710, 15978, 16208])

In [296]:
Itemset_triple_count_updated.values()

dict_values([6, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 5, 7, 5, 6, 6, 5, 7, 5, 5, 5, 6, 5, 8, 7, 6, 8, 5, 6, 5, 6, 8, 5, 6, 5, 7, 5, 5, 7, 7, 6, 6, 5, 8, 7, 5, 5, 5, 5, 8, 5, 5, 7, 6, 8, 5, 5, 5, 6, 5, 5, 7, 5, 5, 5, 5, 5, 5, 5, 5])